<div *ngIf="tasks?.length > 0; else noTaskTemplate">
  <div class="container">
    <h2>List of Pending Tasks</h2>
    <table class="table table-stripe">
      <thead>
        <th>Tasks</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{task.description}}</td>
          <td>
            <button class="btn btn-outline-success btn-sm" (click)="completeTask(task)">Complete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noTaskTemplate>
  <div class="container">
    <h2>List of Pending Tasks</h2>
    <p>
      You don't have any tasks pending. Complete the form below to create tasks.
    </p>
  </div>
</ng-template>

<div class="container">
  <h2>Add a Task</h2>
  <form [formGroup]="taskForm" (ngSubmit)="submitTask()">
    <label for="description">Task Description</label>
    <div class="form group">
      <div class="input-group">
        <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.description.errors }" />
        <span class="input-group-btn">
          <input type="submit" value="Add" class="btn btn-primary">
        </span>
        <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
          <div *ngIf="form.description.errors.required">Task description is required</div>
          <div *ngIf="form.description.errors.maxlength">Task description must be less than 100 characters</div>
        </div>
      </div>
    </div>
  </form>
  <button class="btn btn-link" [routerLink]="['/login']" style="padding-top: 15px;">Logout</button>
</div>